{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier Entreprise</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Modifier {{ entreprise.nom }}</h2>
    <div class="card shadow p-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Mettre à jour</button>
        </form>
    </div>
    <div class="text-center mt-3">
        <a href="{% url 'liste_entreprise' %}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
</body>
</html>
