<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>affichage de l'entreprise</title>
</head>

<body>
    <h1>Liste des entreprises</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Numéro de téléphone</th>
                <th>Email</th>
                <th>Logo</th>
            </tr>
        </thead>
        <tbody>
            {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.numero_telephone }}</td>
                <td>{{ entreprise.email }}</td>
                <td>
                    {% if entreprise.logo %}
                    <img src="{{ entreprise.logo.url }}" alt="Logo de {{ entreprise.nom }}" width="100">
                    {% else %}
                    Aucun logo
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'modification_entreprise' entreprise.id %}">Modifier</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</body>

</html>