{% load static %}

{% block entete %}
    {% include 'composant/menu/lien_entete.html' %}
    
{% endblock entete %}
    
    

    <!-- Begin page -->
<div id="layout-wrapper">

    
   {% block header %}

    {% include 'composant/menu/header.html' %}

   {% endblock header %}
        

    <!-- removeNotificationModal -->
   {% block notification %}

   {% include "composant/menu/notification.html" %}

   {% endblock notification %}
        <!-- ========== App Menu ========== -->
        

       {% block menu %}
            
            {% include 'composant/menu/menu.html' %}
       {% endblock menu %}
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
      
      {% block contenu %}
        
      {% endblock contenu %}
        
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



{% block footer_contenu %}
    {% include 'composant/footer/footer_contenu.html' %}
{% endblock footer_contenu %}
    

    
{% block footer_js %}
    {% include 'composant/footer/footer_lien_js.html' %}
{% endblock footer_js %}
    